/* image du skin */
.skin-wrapper {
  width: 770px;
  height: 432,83px;
  border-radius: 40px;
  transition: box-shadow 0.25s;
}

.skin-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
}
